
<div class="container" id="usersett">
	<ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="#">Member Settings</a>
    </li>
    <!-- <li class="breadcrumb-item active nav-item tabClicker" data-tab="tabs-1">Profile</li> -->
    <!-- <li class="breadcrumb-item active nav-item tabClickers" data-tab="tabs-1">Member Info</li>
    <li class="breadcrumb-item active nav-item tabClickers" data-tab="tabs-2">Attendance</li>
    <li class="breadcrumb-item active nav-item tabClickers" data-tab="tabs-3">Schedule</li>
    <li class="breadcrumb-item active nav-item tabClickers" data-tab="tabs-4">Salary</li> -->
    </ol>

	 <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i>
            List of Attendance
          </div>
          <div class="card-body">
            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target=""><i class="fa fa-plus"></i> Add</button><br/><br/>
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>User Role</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>User Role</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>

                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>
                  <tr>
                    <td>Bruno Nash</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                  </tr>


                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">
            Updated yesterday at 11:59 PM
          </div>
        </div>
  
</div>